html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	position: relative;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#container {
	width:100%;
	height:100%;
	min-height:100%;
	padding:0px;
}

a {
	color: #9d426b;
	color: #5d5d5d;
	cursor: pointer;
}

.hide {
	display: none;
}

.cursor {
	cursor: pointer;
}

.small-width {
	width: 800px;
}

#example {
	margin-top: 1000px;
}

#login-container {
	width: 650px;
	margin-top: 50px;
}

#login-panel {
	overflow: auto;
	margin-top: 20px;
}

.login-left {
	float: left;
	width: 50%;
	padding-right: 20px;
	border-right: 1px dotted #ccc;
}

.login-right {
	float: right;
	width: 47%;
}

.login-right .login-background {
	padding: 20px;
	background-color: #F0F0F0;
	border-radius: 5px;
}

#forgot-password {
	margin-top: 3px;
}

#register, #register-icon {
	color: #9d426b;
}

#sidebar {
    height:100%;
    min-height:100%;
	background-color: #f5f5f5;
	border-right: 1px solid #ddd;
}

#sidebar .nav .glyphicon {
	margin-right: 10px;
}

#sidebar > ul li {
	border-bottom: 1px solid #ddd;
}

#sidebar a {
	cursor: pointer;
}

#sidebar li a:hover {
	background-color: #9d426b;
	color: #fff;
}

#sidebar li.active {
	font-weight: bold;
	font-size: 15px;
}

#options-container {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

#options-container .options-text {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
}

#options-container .option {
	padding-bottom: 5px;
}

.o-auto {
	overflow: auto;
}

#content {
	overflow: auto;
}

#main-content {
	overflow: auto;
	width: 100%;
	margin: auto;
}

#main-content > .left {
	width: 250px;
	float: left;
}

#main-content > .right {
	margin-left: 260px;
	margin-top: 10px;
	margin-right: 10px;
}

#breadcrumb-text {
	font-size: 18px;
	color: #9d426b;
}

#breadcrumb-text .glyphicon {
	padding-right: 7px;
}

.gradient {
    background: linear-gradient(to bottom,#717171,#252525);
    color: #fff !important;
}

#header {
	background-color: #f9f9f9;
    background: linear-gradient(to bottom,#717171,#252525);
	height: 60px;
	line-height: 50px;
	border-bottom: 4px solid #9d426b;
	padding-left: 20px;
	padding-right: 20px;
	color: #e8e8e8;
}

#header .header-title {
	font-size: 22px;
	color: #e8e8e8;
}

#navbar .left {
	margin-top: 5px;
}

#navbar .right .item {
	font-size: 13px;
	border-right: 1px dotted #ddd;
	padding-right: 15px;
	margin-right: 15px;
}

#navbar .right .item:last-child {
	padding-right: 0px;
	margin-right: 0px;
}

#navbar .logo-icon {
	font-size: 30px;
	padding-right: 5px;
}

.red-badge {
	background-color: #CB0000;
	color: #fff;
}

#footer {
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 100%;
	border-top: 1px dotted #9d426b;
	font-weight: bold;
	background-color: #fff;
}

#content {
	border: 1px dotted #ddd;
	padding: 10px;
}

.invalid-login {
	color: red;
	text-align: center;
}

.btn {
	background-color: #9d426b;
	border-color: #A33566;
	color: #fff;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	background-color: #B0507B;
	border-color: #B0507B;
}

.property-table td:first-child {
	font-weight: bold;
	background-color: #f9f9f9;
	width: 200px;
}

#student-tabs {
	height: 50px;
}

.dataTables_wrapper {
	overflow: hidden;
}

#email-message {
	height: 240px;
}

.notification-popover:hover {
	cursor: pointer;
	text-decoration: underline;
}

.popover-title {
	color: #666;
}

.popover-content {
	color: #666;
}