html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
	position: relative;
	font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 12px;
}

#container {
	width:100%;
	height:100%;
	min-height:100%;
	padding:0px;
}

a {
	color: #9d426b;
	color: #5d5d5d;
	cursor: pointer;
}

.hide {
	display: none;
}

.cursor {
	cursor: pointer;
}

.small-width {
	width: 800px;
}

#example {
	margin-top: 1000px;
}

#forgot-container {
	width: 400px;
	margin: 30px;
}

#login-container {
	width: 650px;
	margin-top: 50px;
}

#login-panel {
	background-color: #f2f2f2;
	overflow: auto;
	margin-top: 20px;
}

.login-text, .heading-text {
	font-size: 24px;
	color: #666;
	margin-bottom: 20px;
	font-weight: normal;
}

.register-text {
	font-size: 20px;
	color: #666;
	margin-bottom: 20px;
	font-weight: normal;
}

#register {
	color: #9d426b;
}

.login-left {
	float: left;
	width: 50%;
	padding-right: 20px;
	background-color: #fff;
	padding: 20px;
	border-radius: 5px;
}

.login-right {
	float: right;
	width: 49%;
}

.login-right .login-background {
	padding: 20px;
	background-color: #F0F0F0;
	border-radius: 5px;
}

#forgot-password {
	margin-top: 3px;
}

#sidebar {
    height:100%;
    min-height:100%;
	background-color: #f5f5f5;
	border-right: 1px solid #ddd;
}

#sidebar .nav .glyphicon {
	margin-right: 10px;
}

#sidebar > ul > li {
	border-bottom: 1px solid #ddd;
	background-color: #f5f5f5;
}

#sidebar a {
	cursor: pointer;
}

#sidebar .sub-menu {
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	padding: 10px;
	padding-left: 30px;
}

#sidebar .sub-menu > li {
	padding-top: 5px;
	padding-bottom: 5px;
	list-style: none;
	border-bottom: 1px dotted #ddd;
}

#sidebar .sub-menu > li:last-child {
	border-bottom: none;
}

#sidebar > .nav > li > a:hover {
	background-color: #9d426b;
	color: #fff;
}

#sidebar > .nav > li.active {
	font-weight: bold;
	font-size: 14px;
}

#sidebar .sub-menu > li > a:hover {
	color: #9d426b;
}

#options-container {
	padding: 10px;
	border-bottom: 1px solid #ddd;
}

#options-container .options-text {
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	padding-left: 5px;
}

#options-container .option {
	padding-bottom: 5px;
}

.o-auto {
	overflow: auto;
}

#content {
	overflow: auto;
}

#main-content {
	overflow: auto;
	width: 100%;
	margin: auto;
}

#main-content > .left {
	width: 250px;
	float: left;
	top: 60px;
	left: 0px;
	bottom: 0px;
	position: absolute;
	border-right: 1px solid #ddd;
}

#main-content > .right {
	margin-left: 260px;
	margin-top: 10px;
	margin-right: 10px;
}

#breadcrumb-text {
	font-size: 18px;
	color: #9d426b;
}

#breadcrumb-text .glyphicon {
	padding-right: 7px;
}

.gradient {
    background: linear-gradient(to bottom,#717171,#252525);
    color: #fff !important;
}

#header {
	background-color: #f9f9f9;
    background: linear-gradient(to bottom,#717171,#252525);
	height: 60px;
	line-height: 50px;
	border-bottom: 4px solid #9d426b;
	padding-left: 20px;
	padding-right: 20px;
	color: #e8e8e8 !important;
}

#header .header-title {
	font-size: 22px;
	color: #e8e8e8;
}

#navbar .left {
	margin-top: 5px;
}

#navbar .right .item {
	font-size: 13px;
	border-right: 1px dotted #ddd;
	padding-right: 15px;
	margin-right: 15px;
}

#navbar .right .item:last-child {
	padding-right: 0px;
	margin-right: 0px;
}

#navbar .logo-icon {
	font-size: 30px;
	padding-right: 5px;
}

.dropdown, #header, #home {
	z-index: 1000;
}

.primary-link {
	cursor: pointer;
	color: #9d426b;
	font-weight: bold;
}

.link:hover {
	cursor: pointer;
}

.center {
	text-align: center;
}

.red {
	color: #CB0000 !important;
}

.red-badge {
	background-color: #CB0000;
	color: #fff;
}

#footer {
	text-align: center;
	line-height: 30px;
	height: 30px;
	width: 100%;
	border-top: 1px dotted #9d426b;
	font-weight: bold;
	background-color: #fff;
}

.invalid-login {
	color: red;
	text-align: center;
}

.bold {
	font-weight: bold;
}

.btn {
/*	background-color: #9d426b;
	border-color: #A33566;
	color: #fff;*/

	background-color: #fff;
	border-color: #ccc;
	color: #9d426b !important;
	font-weight: bold;
}

.btn:focus {
	outline: none;
	color: #fff;
}

.btn:hover, .btn:active, .btn.active, .btn:focus {
/*	background-color: #B0507B;
	border-color: #B0507B;
	color: #fff;*/

	background-color: #EDEDED;
	border-color: #ccc;
	color: #333;
}

.property-table {
	margin-top: 20px;
}

#student-tabs {
	height: 50px;
}

.dataTables_wrapper {
	overflow: hidden;
}

#email-message {
	height: 240px;
}

.notification-popover:hover {
	cursor: pointer;
	text-decoration: underline;
}

.popover-title {
	color: #666;
}

.popover-content {
	color: #666;
}

li.paginate_button.active a {
	background-color: #9d426b;
	border-color: #9d426b;
}

.pagination>li>a, .pagination>li>span {
	color: #9d426b;
}

#button-container {
	padding-bottom: 10px;
	border-bottom: 1px dotted #ddd;
}

#button-container button {
	margin-left: 3px;
	margin-right: 3px;
}

#department-list {
	overflow: auto;
	margin-bottom: 20px;
}

#department-list span {
	background: #fff;
	border: 2px solid #ddd;
	color: #666;
    margin: 5px;
}

#department-list span:hover {
	background-color: #EDEDED;
	border-color: #ccc;
	color: #333;
	cursor: pointer;
}

.dept-item {
	list-style: none;
}

#course-list {

}

#sections-container {
	margin-left: 30px;
}

#sections-list li {
	padding-top: 10px;
	padding-bottom: 10px;
}

td.details-control {
    background: url('https://datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('https://datatables.net/examples/resources/details_close.png') no-repeat center center;
}

.font-14 {
	font-size: 14px;
}

.font-16 {
	font-size: 16px;
}

.enroll-link, .remove-section {
	color: #9d426b;
	font-weight: bold;
}

#registration-page, #enrollment-page {
	padding: 20px;
}

.form-horizontal .form-group {
	margin-bottom: 10px;
}

.placeholder-error::-webkit-input-placeholder {
    color: #CB0000;
}
.placeholder-error:-moz-placeholder {
    /* FF 4-18 */
    color: #CB0000;
}
.placeholder-error::-moz-placeholder {
    /* FF 19+ */
    color: #CB0000;
}
.placeholder-error:-ms-input-placeholder {
    /* IE 10+ */
    color: #CB0000;
}

.course-selection-component {
    margin-bottom: 30px;
}

.divider {
    border: 1px dashed #ddd;
    height: 1px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

.dt-btn {
	margin-left: 2px;
	margin-right: 2px;
}

.dataTables_filter label {
	margin-right: 5px;
}

.asterisk {
	font-size: 14px;
	color: #CB0000;
	padding-left: 5px;
}

#import-container,
#export-container {
	width: 500px;
}

#import-data-table td:first-child,
#import-template-table td:first-child,
#export-data-table td:first-child {
	font-weight: bold;
}

#import-data-table td:last-child,
#import-template-table td:last-child,
#export-data-table td:last-child {
	width: 100px;
}

#filter-students-container .form-horizontal {
	/*margin: 10px;*/
}

.school-option {
	border: 1px solid #ddd;
	padding: 10px;
	float: left;
	width: 150px;
	height: 75px;
	text-align: center;
	background-color: #fff;
	margin-right: 5px;
	cursor: pointer;
}

.school-option:hover {
	background-color: #9d426b;
	color: #fff;
}

.school-option .school-text {
	font-size: 18px;
}

.school-option .select-school {
	text-transform: uppercase;
	font-size: 11px;
}

.school-option .glyphicon {
	font-size: 24px;
}

.att-cell, .att-header {
	width: 10px !important;
	height: 10px !important;
}

.section-table td:first-child {
	width: 150px;
	text-align: left !important;
}

.section-table td:first-child {
	text-align: center;
}

.dashboard-panel-text {
	font-size: 16px;
}

.easyWizardSteps {list-style:none;width:100%;overflow:hidden;margin:0;padding:0;border-bottom:1px solid #ccc;margin-bottom:20px}
.easyWizardSteps li {font-size:18px;display:inline-block;padding:10px;color:#B0B1B3;margin-right:20px;}
.easyWizardSteps li span {font-size:24px}
.easyWizardSteps li.current {color:#9d426b}

.easyWizardButtons {overflow:hidden;padding:10px;}
.easyWizardButtons button, .easyWizardButtons .submit {cursor:pointer}
.easyWizardButtons .prev {float:left}
.easyWizardButtons .next, .easyWizardButtons .submit {float:right}