<h4>Student Attendance</h4>
<div class="month-container btn-group center-block">
	<button id="prev-month" class="btn btn-default btn-sm"></button>
	<button id="current-month" class="btn btn-default btn-sm primary-link"></button>
	<button id="next-month" class="btn btn-default btn-sm"></button>
</div>
<br><br>
<table id="attendance-table" class="table table-bordered">
	<tr class="bg-info">
		<th>Section</th>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		<th>4</th>
		<th>5</th>
		<th>6</th>
		<th>7</th>
		<th>8</th>
		<th>9</th>
		<th>10</th>
		<th>11</th>
		<th>12</th>
		<th>13</th>
		<th>14</th>
		<th>15</th>
		<th>16</th>
		<th>17</th>
		<th>18</th>
		<th>19</th>
		<th>20</th>
		<th>21</th>
		<th>22</th>
		<th>23</th>
		<th>24</th>
		<th>25</th>
		<th>26</th>
		<th>27</th>
		<th>28</th>
		<th>29</th>
		<th>30</th>
		<th>31</th>
	</tr>
</table>