<div class="o-auto">
	<div class="col-sm-3">
		<h4>Select a Department</h4>
		<hr>
		<ul id="department-list" class="list-group"></ul>
	</div>
	<div class="col-sm-9">
		<h4>Enrolled Sections</h4>
		<hr>
		<table id="enrolled-list" class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Course Name</th>
					<th>Section Code</th>
					<th>Day</th>
					<th>Start Time</th>
					<th>End Time</th>
					<th>Drop</th>
				</tr>
			</thead>
			<tbody class="results"></tbody>
		</table>

		<br><br>

		<h4>Showing courses for: <strong class="department-name"></strong></h4>
		<hr>
		<table id="course-list" class="table table-striped table-bordered">
			<thead>
				<th>View Sections</th>
				<th>Course Name</th>
				<th>Description</th>
			</thead>
			<tbody class="results"></tbody>
		</table>
	</div>
</div> 