<div class="col-sm-12">
	<div class="col-sm-6">
		<h4>Teacher Information</h4>
		<hr>
		<div id="teacher-info" class="form-horizontal"></div>
	</div>
	<br>
	<div class="col-sm-12">
		<br>
		<br>
		<h4>Optional: Course Competency
			<br>
			<small>Provide the competency level of the teacher below on a scale of 0 to 3 for each department. A value of '3' indicates that a teacher is highly competent in that subject.</small>
		</h4>
		<hr>
		<div class="col-sm-6">
			<div id="comp-info" class="form-horizontal"></div>
		</div>
		<div class="col-sm-6">
			<div id="comp2-info" class="form-horizontal"></div>
		</div>
	</div>
	<div class="col-sm-12">
		<br>
		<br>
		<button id="save-teacher" class="btn btn-primary btn-sm">Save Teacher</button>
	</div>
</div>
