<div class="col-sm-12">
	<div class="buttons hide">
		<button id="save-teacher" class="btn btn-primary btn-sm">Save Teacher</button>
	</div>
	<div class="col-sm-6">
		<br>
		<h4>Teacher Information</h4>
		<hr>
		<div id="teacher-info" class="form-horizontal well"></div>
	</div>
	<br>
	<div class="col-sm-12">
		<br>
		<h4>Optional: Course Competency
			<br>
			<small>A value of '0' indicates that a teacher cannot teach a course in this department, or that they have not specified their competency level. A value of '1' indicates that they can teach a beginners course, '2' an intermediate course, and '3' an advanced course.</small>
		</h4>
		<hr>
		<div class="well o-auto">
			<div class="col-sm-6">
				<div id="comp-info" class="form-horizontal"></div>
			</div>
			<div class="col-sm-6">
				<div id="comp2-info" class="form-horizontal"></div>
			</div>
		</div>
	</div>
</div>
