<form>
	<div class="form-group">
		<label class="col-sm-3">First Name</label>
		<div class="col-sm-9">
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Last Name</label>
		<div class="col-sm-9">
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">Email</label>
		<div class="col-sm-9">
			<input type="text" class="form-control" placeholder="example@host.com">
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3">....etc</label>
		<div class="col-sm-9"></div>
	</div>
</form>