<div id="quick-notifications">
	<div id="pending-notifications" class="col-sm-12 hide">
		<div id="pending-stats">
			<div class="alert">
				There are <strong class="count"></strong> students pending registration approval. <strong class='view-notification link'>Click to view students</strong>
			</div>
		</div>
		<div id="pending-test-stats">
			<div class="alert">
				There are <strong class="count"></strong> students awaiting to take a test. <strong class='view-notification link'>Click to view students</strong>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div id="user-panel" class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">User</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-6">Username</label>
							<span class='username'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Last Logged In</label>
							<span class='last-logged-in'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Modify Account</label>
							<a href="#settings">Click here</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="stats-panel" class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">School Usage</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-6">Students</label>
							<span class='students'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Teachers</label>
							<span class='teachers'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Administrators</label>
							<span class='administrators'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Superusers</label>
							<span class='superusers'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Sections</label>
							<span class='sections'></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="calendar-widget" class="col-sm-12">
		<div id="calendar"></div>
	</div>
</div>