<div id="quick-notifications">
	<div class="col-sm-12">
		<div id="pending-reg-panel" class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Pending Registration</div>
				<div class="panel-body">
					<div class="alert alert-danger">
						There are <strong class="count">5</strong> students pending registration approval.
					</div>
					<a>Click to view students</a>
				</div>
			</div>
		</div>
		<div id="pending-reg-panel" class="col-sm-6">
			<div class="panel panel-default">
				<div class="panel-heading">Pending Tests</div>
				<div class="panel-body">
					<div class="alert alert-danger">
						There are <strong class="count">20</strong> students awaiting to take a test.
					</div>
					<a>Click to view students</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div id="pending-reg-panel" class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Teacher Attendance Reminder</div>
				<div class="panel-body">
					blah
				</div>
			</div>
		</div>
		<div id="pending-reg-panel" class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">School Usage</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-6">Students</label>
							<span>943</span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Teachers</label>
							<span>34</span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Administrators</label>
							<span>5</span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Superusers</label>
							<span>2</span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Sections</label>
							<span>64</span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="pending-reg-panel" class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">filler</div>
				<div class="panel-body">
					blah
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div id="pending-reg-panel" class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">Statistics</div>
				<div class="panel-body">
					some stats n graphs
				</div>
			</div>
		</div>
	</div>
</div>