<div id="quick-notifications">
	<div class="col-sm-12">
		<div>
			<div class="alert alert-success">
				There are <strong class="count">5</strong> students pending registration approval. <a>Click to view students</a>
			</div>
		</div>
		<div>
			<div class="alert alert-info">
				There are <strong class="count">20</strong> students awaiting to take a test. <a>Click to view students</a>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div id="user-panel" class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">User</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-6">Username</label>
							<span class='username'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Last Logged In</label>
							<span class='last-logged-in'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Modify Account</label>
							<a>Click here</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="stats-panel" class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">School Usage</div>
				<div class="panel-body">
					<div class="form-horizontal">
						<div class="form-group">
							<label class="col-sm-6">Students</label>
							<span class='students'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Teachers</label>
							<span class='teachers'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Administrators</label>
							<span class='administrators'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Superusers</label>
							<span class='superusers'></span>
						</div>
						<div class="form-group">
							<label class="col-sm-6">Sections</label>
							<span class='sections'></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="pending-reg-panel" class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-heading">Teacher Attendance Reminder</div>
				<div class="panel-body">
					blah
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-12">
		<div id="pending-reg-panel" class="col-sm-12">
			<div class="panel panel-default">
				<div class="panel-heading">Statistics</div>
				<div class="panel-body">
					some stats n graphs
				</div>
			</div>
		</div>
	</div>
</div>