<h1>Create, Retrive, Update, Delete (CRUD) Examples</h1>
<hr>
<!-- GET STUDENTS -->
<h4>Retrive students <br>
	<small>The following is the response you get when you send a <strong>GET request to /students</strong> to fetch a list of all students in the database. <br> SQL: select s.id, s.firstName, s.lastName from student s</small>
</h4>
<div id="students-container"></div>
<hr>

<!-- VIEW STUDENT -->
<h4>View student <br>
	<small>The following is the response you get when you send a <strong>GET request to /students/id</strong> to fetch a single student record from the database. <br> SQL: select s.id, s.firstName, s.lastName, s.email from student s where s.id=:id</small>
</h4>
<div id="student-container" class="small-width">
	<label>Click on the [ view ] link of any student to fetch a student record.</label>
</div>
<hr>

<!-- UPDATE STUDENT -->
<h4>Update student <br>
	<small>The following sends a <strong>PUT request to /students/id</strong> to update a single student record from the database. <br> SQL: update student set firstName=:firstName, lastName=:lastName, email=:email, id=:id where id=:id</small>
</h4>			
<div id="update-container" class="small-width">
	<label>Click on the [ edit ] link of any student to fetch a student record.</label>
</div>
<hr>

<!-- DELETE STUDENT -->
<h4>Delete student <br>
	<small>The following sends a <strong>DELETE request to /students/id</strong> to delete a single student record from the database. <br> SQL: delete from student where id=:id</small>
</h4>			
<div id="delete-container" class="small-width">
	<label>Click on the [ delete ] link of any student to delete a student record. You will be prompted for confirmation before the record is actually deleted.</label>
</div>
<hr>

<!-- CREATE STUDENT -->
<h4>Create student <br>
	<small>The following sends a <strong>POST request to /students</strong> to create a new student record. <br> SQL: insert into student (id, firstName, lastName, email) values (:id, :firstName, :lastName, :email)</small>
</h4>
<div id="create-container" class="small-width"></div>
<hr>