<div>
	<div id="container">
		<select id="schoolid" class="selectpicker"></select>
		<br><br>
		<button id="exportStudents" class="btn btn-primary" type="submit">Export Students CSV</button>
		<br><br>
		<br><br>
		<button id="exportTeachers" class="btn btn-primary" type="submit">Export Teachers CSV</button>
		<br><br>
		<br><br>
		<button id="exportAdmins" class="btn btn-primary" type="submit">Export Administrators CSV</button>
		<br><br>
		<br><br>
		<button id="exportSections" class="btn btn-primary" type="submit">Export Sections CSV</button>
		<br><br>
	</div>
</div>