<div id="export-container">
<!-- 	<br>
	<h4>Select School</h4>
	<select id="schoolid" class="form-control input-sm selectpicker"></select>
	<div class="divider"></div> -->

	<h4>Download</h4>
	<table id="export-data-table" class="table table-bordered table-striped">
		<tbody>
			<tr>
				<td>
					Download Students as CSV
				</td>
				<td>
					<button id="exportStudents" class="btn btn-sm btn-primary" type="submit">Download</button>
				</td>
			</tr>
			<tr>
				<td>
					Download Teachers as CSV
				</td>
				<td>
					<button id="exportTeachers" class="btn btn-sm btn-primary" type="submit">Download</button>
				</td>
			</tr>
			<tr>
				<td>
					Download Administrators as CSV
				</td>
				<td>
					<button id="exportAdmins" class="btn btn-sm btn-primary" type="submit">Download</button>
				</td>
			</tr>
			<tr>
				<td>
					Download Sections as CSV
				</td>
				<td>
					<button id="exportSections" class="btn btn-sm btn-primary" type="submit">Download</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>