<div id="forgot-container">
	<div class="panel panel-default">
		<div class="panel-heading gradient">Forgot Password</div>
		<div class="panel-body">
			<div class="well">
				We will send an email to the provided email address below with a link
				to reset your password.
			</div>
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-sm-3 control-label">Email</label>
					<div class="col-sm-9">
						<input type="text" id="email" class="form-control input-sm">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-3 control-label"></label>
					<div class="col-sm-9">
						<button id="send-link" class="btn btn-primary btn-sm">Submit</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>