<div id="navbar" class="o-auto">
	<div class="left pull-left">
		<span class="header-title"><span class="logo-icon glyphicon glyphicon-education"></span> Gobind Sarvar</span>
	</div>
	<div class="right pull-right">
		<span class="item">
			<span class="link">
				<span class="glyphicon glyphicon-user"></span> 
				<span>Welcome, <strong class="username"></strong></span>
				<span>| <span class="usertype"></span></span>
				<span>| Last Login: <span class="last-logged-in"></span></span>
			</span>
		</span>
		<button id="logout" class="btn btn-sm btn-default">Logout</button>
	</div>
</div>