<div id="navbar" class="o-auto">
	<div class="left pull-left">
		<span class="header-title"><span class="logo-icon glyphicon glyphicon-education"></span> Gobind Sarvar</span>
	</div>
	<div class="right pull-right">
		<span class="item">
			<span class="glyphicon glyphicon-user"></span> <span>Welcome, <strong class="username"></strong></span>
		</span>
		<span class="item">
			<span>Notifications: </span><span class="badge red-badge">1</span>
		</span>
		<span class="item">
			<span class="glyphicon glyphicon-log-out"></span> <span id="logout" class="cursor">Logout</span>
		</span>
	</div>
</div>