<div id="import-container" class="col-sm-12">
	<h4>Attendance</h4>
	<table id="import-data-table" class="table table-bordered table-striped">
		<tbody>
			<tr>
				<td>
					Download Template
					<br>
					<br>
					<label>Select a section</label>
					<select id="section" class="form-control input-sm selectpicker">
					</select>
				</td>
				<td>
					<button id="downloadAttendance" class="btn btn-sm btn-block btn-primary" type="submit">Download</button>
				</td>
			</tr>
			<tr>
				<td>
					Import File
					<br><input type="file" id="csv-file">
				</td>
				<td>
					<button id="import" class="btn btn-sm btn-block btn-primary">Import</button>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<% if (usertype == "A" || usertype == "SU") { %>
	<h4>Students</h4>
	<table id="import-template-table" class="table table-bordered table-striped">
		<tbody>
			<tr>
				<td>Download Template</td>
				<td>
					<form method="get" action="data_templates/import_students.csv">
						<button id="downloadStudents" class="btn btn-sm btn-block btn-primary" type="submit">Download</button>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					Import File
					<br><input type="file" id="csv-file">
				</td>
				<td>
					<button id="import" class="btn btn-sm btn-block btn-primary">Import</button>
				</td>
			</tr>
		</tbody>
	</table>
	<br>
	<h4>Teachers/Administrators</h4>
	<table id="import-template-table" class="table table-bordered table-striped">
		<tbody>
			<tr>
				<td>Create Teachers/Administrators</td>
				<td>
					<form method="get" action="data_templates/import_teachers_administrators.csv">
						<button id="downloadTeachers" class="btn btn-sm btn-block btn-primary" type="submit">Download</button>
					</form>
				</td>
			</tr>
			<tr>
				<td>
					Import File
					<br><input type="file" id="csv-file">
				</td>
				<td>
					<button id="import" class="btn btn-sm btn-block btn-primary">Import</button>
				</td>
			</tr>
		</tbody>
	</table>
	<% } %>
	<!-- OLD IMPORT -->
<!-- 		<input type="file" id="csv-file" class="btn btn-primary">
		<br>
		<button id="import" class="btn btn-primary">Import File</button>
        <div id="not-found" class="hide">
			<div class="alert alert-danger">
				Please select a file to import.
			</div>
		</div>
		<br><br>
		<select id="section" class="selectpicker"></select>
		<button id="downloadAttendance" class="btn btn-primary" type="submit">Download Attendance Template</button>
		<br><br>
		<form method="get" action="data_templates/import_students.csv">
		<button id="downloadStudents" class="btn btn-primary" type="submit">Download Create-Students Template</button>
		</form>
		<br><br>
		<form method="get" action="data_templates/import_teachers_administrators.csv">
		<button id="downloadTeachers" class="btn btn-primary" type="submit">Download Create-Teachers/Administrators Template</button>
		</form> -->
</div>