<div id="login-container" class="center-block">
	<img src="img/logo.png" class="logo center-block">
	<div id="login-panel" class="panel panel-default">
		<div class="panel-heading gradient">
 			<span>Gobind Sarvar School - Login</span>
 		</div>
		<div class="panel-body">
			<div class="login-left">
				<div class="alert alert-danger hide">Invalid Username/Password</div>
				<div class="form-horizontal">
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
								<input type="text" id="username" class="form-control input-sm" placeholder="Username">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<div class="input-group">
								<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
								<input type="password" id="password" class="form-control input-sm" placeholder="Password">
							</div>
							<small id="forgot-password" class="pull-right cursor">forgot password</small>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<button id="login" class="btn btn-primary btn-block">Login</button>
						</div>
					</div>
				</div>
			</div>
			<div class="login-right">
				<div class="login-background">
					<strong>Don't have an account?</strong>
					<br>
					<span>Gobind Sarvar is currently accepting new students. </span>
					<h4>
						<span id="register-icon" class="glyphicon glyphicon-hand-right"></span> 
						<a id="register">Register today!</a>
					</h4>
				</div>
			</div>
		</div>
	</div>
</div>
