<div id="course-selection" class="o-auto">
	<div class="col-sm-12" class="course-selection-component o-auto">
		<div>
			<h4>1. Select a Department</h4>
			<div id="department-list"></div>
		</div>
	</div>
	<div class="divider"></div>

	<div id="course-container" class="col-sm-12 course-selection-component o-auto hide">
		<h4>2. Showing courses for: <strong class="department-name">[ none selected ]</strong>
			<br>
		</h4>
		<button id="add-course" class="btn btn-primary btn-sm">Add Course to Department</button>
		<table id="course-list" class="table table-striped table-bordered">
			<thead>
				<th>Sections</th>
				<th>Course Name</th>
				<th>Description</th>
				<th>Pre Reqs</th>
			</thead>
			<tbody class="results"></tbody>
		</table>
	</div>

    <button id="purge-courses" class="btn btn-primary btn-sm">Delete All Courses</button>
</div> 