<button id="report-card-pdf" class="report-card-pdf btn btn-primary btn-sm">
<span class="glyphicon glyphicon-download-alt"></span> Download as PDF</button>
<!-- <button id="dl-report-card-pdf" class="dl-report-card-pdf btn btn-primary btn-sm" onclick="dlReportCardPDF()"><span class="glyphicon glyphicon-download-alt"></span> Download as PDF</button> -->
&#8199; <!-- spacing -->
<button id="dl-report-card-csv" class="dl-report-card-csv btn btn-primary btn-sm" onclick="dlReportCardCSV()"><span class="glyphicon glyphicon-download-alt"></span> Download as CSV</button>
<br>
<br>
<div id="render_me">
<table id="report-card-table" class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Course Name</th>
			<th>Section Code</th><!-- maybe section name? -->
			<th>Teacher Name</th>
			<th>Grade</th>
		</tr>
	</thead>
	<tbody class="results"></tbody>
</table>
</div>