<div id="filter-sections-container">
	<div class="form-horizontal col-sm-8">
		<h5 class="col-offset-2">Search Sections</h5>
		<hr>
		<div class="form-group">
			<label class="control-label col-sm-3">Department Name</label>
			<div class="col-sm-9">
				<input type="text" id="dept-name" class="form-control input-sm">
			</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3">Course Name</label>
			<div class="col-sm-9">
				<input type="text" id="course-name" class="form-control input-sm">
			</div>
		</div>
		<div class="form-group">
            <label class="col-sm-3 control-label">Day</label>
            <div class="col-sm-9">
           		<label class="checkbox-inline"><input type="checkbox" class="day" name ="day" data-day="mon">MON</label>
            	<label class="checkbox-inline"><input type="checkbox" class="day" name ="day" data-day="tue">TUE</label>
            	<label class="checkbox-inline"><input type="checkbox" class="day" name ="day" data-day="wed">WED</label>
            	<label class="checkbox-inline"><input type="checkbox" class="day" name ="day" data-day="thu">THU</label>
            	<label class="checkbox-inline"><input type="checkbox" class="day" name ="day" data-day="fri">FRI</label>
            	<label class="checkbox-inline"><input type="checkbox" class="day" name ="day" data-day="sat">SAT</label>
            	<label class="checkbox-inline"><input type="checkbox" class="day" name ="day" data-day="sun">SUN</label>
        	</div>
        </div>
 		<div class="form-group" id="class-times">
 			<label class="col-sm-3 control-label">Time</label>
 			<div class="col-sm-9 form-inline">
				<input id="start-time" type="text" class="form-control input-sm time ui-timepicker-input" autocomplete="off" placeholder="Start Time">
	    		<input id="end-time" type="text" class="form-control input-sm time ui-timepicker-input" autocomplete="off" placeholder="End Time">
	    		<div id="alert-both" class="alert alert-danger hide">Must select both a Start and End Time</div>
	    		<div id="alert-larger" class="alert alert-danger hide">End Time must be larger than Start Time</div>
    		</div>
		</div>
		<div class="form-group">
			<label class="control-label col-sm-3"></label>
			<div class="col-sm-9">
				<button id="clear-fields" class="btn btn-sm">Clear</button>
				<button id="search-sections" class="btn btn-sm">Search</button>
			</div>
		</div>
	</div>
</div>

