<div id="options-container">
<!-- 	<% if (usertype == "SU") { %>
	<div class="option">
		<span class="options-text">School</span>
		<select id="school-options" class="form-control input-sm"></select>
	</div>
	<% } %>
 -->
<!-- 	<% if (usertype == "A" || usertype == "SU") { %>
	<div class="option">
		<span class="options-text">School Year</span>
		<select id="school-year-options" class="form-control input-sm"></select>
	</div>
	<% } %> -->
</div>
<ul class="nav">
	<!-- DASHBOARD -->
	<li class="active">
		<a href="#home" class="sidebar-link" data-link="dashboard">
			<span class="glyphicon glyphicon-dashboard"></span>
			<span class="text"> Dashboard</span>
		</a>
	</li>

	<!-- NOTIFICATIONS -->
	<% if (usertype !== "S") { %>
	<li>
		<a href="#notifications" class="sidebar-link" data-link="notifications">
			<span class="glyphicon glyphicon-bell"></span>
			<span class="text"> Notifications</span>
		</a>
	</li>
	<% } %>

	<!-- STUDENTS -->
	<% if (usertype == "A" || usertype == "SU") { %>
	<li data-toggle="collapse" data-target="#students" class="collapsed">
		<a class="sidebar-link">
			<span class="glyphicon glyphicon-user"></span>
			<span class="text"> Students</span>
			<span class="caret"></span>
		</a>
	</li>
	<ul class="sub-menu collapse" id="students">
		<li>
			<span class="glyphicon glyphicon-search"></span>
			<a href="#filterStudents">Search Students</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-th-list"></span>
			<a href="#students/all">View all Students</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-plus-sign"></span>
			<a href="#createStudent">Create a Student</a>
		</li>
	</ul>
	<% } %>

	<!-- TEACHERS -->
	<% if (usertype == "A" || usertype == "SU") { %>
	<li data-toggle="collapse" data-target="#teachers" class="collapsed">
		<a class="sidebar-link" data-link="teachers">
			<span class="glyphicon glyphicon-user"></span>
			<span class="text"> Teachers</span>
			<span class="caret"></span>
		</a>
	</li>
	<ul class="sub-menu collapse" id="teachers">
		<li>
			<span class="glyphicon glyphicon-search"></span>
			<a href="#filterTeachers">Search Teachers</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-th-list"></span>
			<a href="#teachers/all">View all Teachers</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-plus-sign"></span>
			<a href="#createTeacher">Create a Teacher</a>
		</li>
	</ul>
	<% } %>

	<!-- ADMINISTRATORS -->
	<% if (usertype == "SU") { %>
	<li data-toggle="collapse" data-target="#admins" class="collapsed">
		<a class="sidebar-link" data-link="admins">
			<span class="glyphicon glyphicon-user"></span>
			<span class="text"> Administrators</span>
			<span class="caret"></span>
		</a>
	</li>
	<ul class="sub-menu collapse" id="admins">
		<li>
			<span class="glyphicon glyphicon-search"></span>
			<a href="#filterAdmins">Search Administrators</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-th-list"></span>
			<a href="#admins/all">View all Administrators</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-plus-sign"></span>
			<a href="#createAdmin">Create an Administrator</a>
		</li>
	</ul>
	<% } %>

	<!-- SUPERUSERS -->
	<% if (usertype == "SU") { %>
	<li data-toggle="collapse" data-target="#superusers" class="collapsed">
		<a class="sidebar-link" data-link="superusers">
			<span class="glyphicon glyphicon-user"></span>
			<span class="text"> Superusers</span>
			<span class="caret"></span>
		</a>
	</li>
	<ul class="sub-menu collapse" id="superusers">
		<li>
			<span class="glyphicon glyphicon-th-list"></span>
			<a href="#superusers/all">View All Superusers</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-plus-sign"></span>
			<a href="#createSuperuser">Create A Superuser</a>
		</li>
	</ul>
	<% } %>

	<!-- COURSES -->
	<li data-toggle="collapse" data-target="#courses-tools" class="collapsed">
		<a class="sidebar-link" data-link="admin-tools">
			<span class="glyphicon glyphicon-th-list"></span>
			<span class="text"> Manage Classes</span>
			<span class="caret"></span>
		</a>
	</li>
	<ul class="sub-menu collapse" id="courses-tools">
		<li>
			<span class="glyphicon glyphicon-th-list"></span>
			<a href="#departments">Manage Departments</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-th-list"></span>
			<a href="#manageCourses">Manage Courses</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-th-list"></span>
			<a href="#sections">Manage Sections</a>
		</li>
	</ul>

	<% if (usertype == "S") { %>
	<li>
		<a href="#courseEnrollment" class="sidebar-link" data-link="courses">
			<span class="glyphicon glyphicon-th-list"></span>
			<span class="text"> Course Enrollment</span>
		</a>
	</li>
	<% } %>

	<!-- ADMIN TOOLS -->
	<% if (usertype == "A" || usertype == "SU") { %>
	<li data-toggle="collapse" data-target="#admin-tools" class="collapsed">
		<a class="sidebar-link" data-link="admin-tools">
			<span class="glyphicon glyphicon-wrench"></span>
			<span class="text"> Administrative Tools</span>
			<span class="caret"></span>
		</a>
	</li>
	<ul class="sub-menu collapse" id="admin-tools">
		<li>
			<span class="glyphicon glyphicon-calendar"></span>
			<a href="#schoolyears">Manage School Years</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-education"></span>
			<a href="#schools">Manage Schools</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-export"></span>
			<a href="#export">Export Data</a>
		</li>
		<li>
			<span class="glyphicon glyphicon-import"></span>
			<a href="#import">Import Data</a>
		</li>
        <li>
			<span class="glyphicon glyphicon-fire"></span>
			<a href="#purge">Purge Data</a>
		</li>
	</ul>
	<% } %>

	<!-- EMAIL -->
	<li>
		<a href="#email" class="sidebar-link" data-link="email">
			<span class="glyphicon glyphicon-envelope"></span>
			<span class="text"> Send Email</span>
		</a>
	</li>

	<!-- SETTINGS -->
	<li>
		<a href="#settings" class="sidebar-link" data-link="settings">
			<span class="glyphicon glyphicon-cog"></span>
			<span class="text"> Settings</span>
		</a>
	</li>

	<!-- HELP -->
	<li>
		<a href="#home" class="sidebar-link" data-link="help">
			<span class="glyphicon glyphicon-question-sign"></span>
			<span class="text"> Help</span>
		</a>
	</li>
</ul>