<div id="options-container">
	<div class="option">
		<span class="options-text">School</span>
		<select id="school-options" class="form-control input-sm"></select>
	</div>
	<div class="option">
		<span class="options-text">School Year</span>
		<select id="school-year-options" class="form-control input-sm"></select>
	</div>
</div>
<ul class="nav">
	<li class="active">
		<a class="sidebar-link" data-link="dashboard">
			<span class="glyphicon glyphicon-dashboard"></span>
			<span class="text"> Dashboard</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="students">
			<span class="glyphicon glyphicon-user"></span>
			<span class="text"> Students</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="teachers">
			<span class="glyphicon glyphicon-user"></span>
			<span class="text"> Teachers</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="admins">
			<span class="glyphicon glyphicon-user"></span>
			<span class="text"> Administrators</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="admins">
			<span class="glyphicon glyphicon-user"></span>
			<span class="text"> Superusers</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="courses">
			<span class="glyphicon glyphicon-th-list"></span>
			<span class="text"> Courses</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="school-year">
			<span class="glyphicon glyphicon-calendar"></span>
			<span class="text"> School Years</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="import">
			<span class="glyphicon glyphicon-import"></span>
			<span class="text"> Import</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="export">
			<span class="glyphicon glyphicon-export"></span>
			<span class="text"> Export</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="email">
			<span class="glyphicon glyphicon-envelope"></span>
			<span class="text"> Send Email</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="notifications">
			<span class="glyphicon glyphicon-bell"></span>
			<span class="text"> Notifications</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="settings">
			<span class="glyphicon glyphicon-cog"></span>
			<span class="text"> Settings</span>
		</a>
	</li>
	<li>
		<a class="sidebar-link" data-link="help">
			<span class="glyphicon glyphicon-question-sign"></span>
			<span class="text"> Help</span>
		</a>
	</li>
</ul>