<div id="options-container">
	<div class="option">
		<span class="options-text">School</span>
		<select class="form-control input-sm">
			<option>Surrey</option>
			<option>England</option>
		</select>
	</div>
	<div class="option">
		<span class="options-text">School Year</span>
		<select class="form-control input-sm">
			<option>2014-2015</option>
			<option>2015S</option>
		</select>
	</div>
</div>
<ul class="nav">
	<li class="active"><a class="sidebar-link"><span class="glyphicon glyphicon-dashboard"></span><span class="text"> Dashboard</span></a></li>
	<li><a class="sidebar-link"><span class="glyphicon glyphicon-user"></span><span class="text"> Students</span></a></li>
	<li><a class="sidebar-link"><span class="glyphicon glyphicon-user"></span><span class="text"> Teachers</span></a></li>
	<li><a class="sidebar-link"><span class="glyphicon glyphicon-user"></span><span class="text"> Administrators</span></a></li>
	<li><a class="sidebar-link"><span class="glyphicon glyphicon-th-list"></span><span class="text"> Courses</span></a></li>
	<li><a class="sidebar-link"><span class="glyphicon glyphicon-calendar"></span><span class="text"> Grading Periods</span></a></li>
	<li><a class="sidebar-link"><span class="glyphicon glyphicon-import"></span><span class="text"> Import</span></a></li>
	<li><a class="sidebar-link"><span class="glyphicon glyphicon-export"></span><span class="text"> Export</span></a></li>
	<li><a class="sidebar-link"><span class="glyphicon glyphicon-envelope"></span><span class="text"> Send Email</span></a></li>
	<li><a class="sidebar-link"><span class="glyphicon glyphicon-cog"></span><span class="text"> Settings</span></a></li>
	<li><a class="sidebar-link"><span class="glyphicon glyphicon-question-sign"></span><span class="text"> Help</span></a></li>
</ul>