<div id="terms-and-conditions" class="col-sm-12">
	<span class="login-text">Terms and Conditions</span>
	<br>
	<br>
	<p class="well">
		<strong>ATTENDANCE & PUNCTUALITY</strong> - In order to ensure a consistent and stable learning environment for both students and teachers, regular attendance in all registered classes is mandatory. Students should aim to be at least 5 minutes early for their classes. If a student has five (5) or more unexcused absences or lates from any class they will be removed from the class attendance list. If the student wishes to return to the class they will be required to speak with Gobind Sarvar administrators and pay a $50 re-enrollment penalty. If the student misses a total of 10+ classes in a school year or is regularly late, their enrollment will be terminated and they will be required to pay a $150 re-enrollment penalty.

		<br><br>

		<strong>ATTIRE</strong> - Gobind Sarvar students are required to wear the following uniforms to classes:
		Boys: White/blue/orange kurta/chola (top) with white pajama (bottom) and Blue dastar/patka/ramal (head covering)
		Girls: White/blue/orange kameez/suit (top) with white salwar (bottom) and Blue kaaski/chuni/ramal (head covering)
		On Youth Days and special events students must wear their uniform and can supplement it with a blue sweater/full sleeve shirt/vest or jacket.

		<br><br>

		<strong>LIABILITY DISCLAIMER</strong> - I hereby waive and forever discharge Gobind Sarvar, Gobind Marg Charitable Trust Society, its employees and volunteers from all claims, damages, costs and expenses with respect to injury or damage to my/their person or property, however caused, which may occur as a result of my/their participation in the program in any location where the program is being held (e.g. school, field trips, organized gatherings, etc).

		<br><br>

		<strong>MEDIA RECORDING</strong> - I acknowledge and agree that Gobind Sarvar may use photographs/video/audio recordings of my child in Gobind Sarvar related activities, programs, and events for publishing purposes including, but not limited to, promotional, educational, fundraising, online services, magazine (Mera Saho Te Rang Ratare) and monthly newsletters.
		I hereby certify that the information I have provided on this form is accurate, and I have read and agree to the terms and conditions of registration.
	</p>
</div>