<div id="superuser-info" class="tab-pane active o-auto">
	<div class="col-sm-6">
		<h4 class="o-auto">Superuser Information
			<% if(usertype == "SU") { %>
			<div class="pull-right">
				<button id="edit-superuser" class="btn btn-primary btn-sm hide">Edit</button>
				<button id="save-superuser" class="btn btn-primary btn-sm hide">Save</button>
				<button id="cancel" class="btn btn-primary btn-sm hide">Cancel</button>
				<!-- <button id="delete-superuser" class="btn btn-primary btn-sm">Delete Superuser</button> -->
			</div>
			<% } %>
		</h4>
		<div id="superuser-info-table" class="form-horizontal well property-table"></div>
	</div>
</div>
