<div id="admin-content">
	<br>
	<ul id="admin-tabs" class="nav nav-tabs nav-justified">
		<li class="active">
			<a data-toggle="tab" data-target="#admin-info">
				<span class="glyphicon glyphicon-user"></span> Administrator Information
			</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#course-info">
				<span class="glyphicon glyphicon-th-list"></span> Teaching Courses
			</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#email">
				<span class="glyphicon glyphicon-envelope"></span> Email Administrator
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<br>
		<div id="admin-info" class="tab-pane active o-auto">
			<div class="col-sm-6">
				<br>
				<h4>Administrator Information
					<div class="pull-right">
						<button id="edit-admin" class="btn btn-primary btn-sm hide">Edit Administrator</button>
						<button id="save-admin" class="btn btn-primary btn-sm hide">Save Administrator</button>
						<!-- <button id="delete-admin" class="btn btn-primary btn-sm">Delete Administrator</button> -->
					</div>
				</h4>
				<div id="admin-info-table" class="form-horizontal well property-table"></div>
			</div>
		</div>
		<div id="course-info" class="tab-pane"></div>
		<div id="email" class="tab-pane"></div>
	</div>
</div>