<div id="student-content">
	<ul id="student-tabs" class="nav nav-tabs nav-justified">
		<li class="active">
			<a data-toggle="tab" data-target="#student-info">
				<span class="glyphicon glyphicon-user"></span> Student Information
			</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#course-info">
				<span class="glyphicon glyphicon-th-list"></span> Courses
			</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#attendance">
				<span class="glyphicon glyphicon-stats"></span> Attendance
			</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#report-card">
				<span class="glyphicon glyphicon-file"></span> Report Card
			</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#email">
				<span class="glyphicon glyphicon-envelope"></span> Email Student
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<div id="student-info" class="tab-pane active o-auto">
			<div class="col-sm-12">
				<div class="student-component col-sm-6">
					<h4>Student Information 
						<span class="form-buttons pull-right">
							<button class="edit-btn btn btn-primary btn-xs">Edit</button>
							<button class="save-btn btn btn-success btn-xs hide">Save</button>
							<button class="cancel-btn btn btn-info btn-xs hide">Cancel</button>
						</span>
					</h4>
					<div id="student-info-table" class="form-horizontal well property-table"></div>
				</div>
				<div class="student-component col-sm-6">
					<h4>Address 
						<span class="form-buttons pull-right">
							<button class="edit-btn btn btn-primary btn-xs">Edit</button>
							<button class="save-btn btn btn-success btn-xs hide">Save</button>
							<button class="cancel-btn btn btn-info btn-xs hide">Cancel</button>
						</span>
					</h4>	
					<div id="address-table" class="form-horizontal well property-table"></div>
				</div>
			</div>
			<div class="col-sm-12">
				<div class="student-component col-sm-6">
					<h4>Parent/Guardian Information 
						<span class="form-buttons pull-right">
							<button class="edit-btn btn btn-primary btn-xs">Edit</button>
							<button class="save-btn btn btn-success btn-xs hide">Save</button>
							<button class="cancel-btn btn btn-info btn-xs hide">Cancel</button>
						</span>
					</h4>
					<div id="parent-table" class="form-horizontal well property-table"></div>
				</div>
				<div class="student-component col-sm-6">
					<h4>Emergency Contact Information 
						<span class="form-buttons pull-right">
							<button class="edit-btn btn btn-primary btn-xs">Edit</button>
							<button class="save-btn btn btn-success btn-xs hide">Save</button>
							<button class="cancel-btn btn btn-info btn-xs hide">Cancel</button>
						</span>
					</h4>					
					<div id="emergency-table" class="form-horizontal well property-table"></div>	
				</div>
			</div>
			<div class="delete col-sm-12">
				<div class="col-sm-6">
					<button id="delete-student" class="btn btn-primary btn-sm">Delete Student</button>			
				</div>
			</div>		
		</div>
		<div id="course-info" class="tab-pane"></div>
		<div id="attendance" class="tab-pane"></div>
		<div id="report-card" class="tab-pane"></div>
		<div id="email" class="tab-pane"></div>
	</div>
</div>