<div id="superuser-info" class="tab-pane active o-auto">
	<% if(usertype == "SU") { %>
	<div class="col-sm-12">
		<button id="edit-superuser" class="btn btn-primary btn-sm hide">Edit Superuser</button>
		<button id="save-superuser" class="btn btn-primary btn-sm hide">Save Superuser</button>
		<!-- <button id="delete-superuser" class="btn btn-primary btn-sm">Delete Superuser</button> -->
	</div>
	<% } %>
	<div class="col-sm-6">
		<br>
		<h4>Superuser Information</h4>
		<div id="superuser-info-table" class="form-horizontal well property-table"></div>
	</div>
</div>

<!-- <div id="superuser-content">
	<br>
	<ul id="superuser-tabs" class="nav nav-tabs nav-justified">
		<li class="active">
			<a data-toggle="tab" data-target="#superuser-info">
				<span class="glyphicon glyphicon-user"></span> Superuser Information
			</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#course-info">
				<span class="glyphicon glyphicon-th-list"></span> Teaching Courses
			</a>
		</li>
		<li>
			<a data-toggle="tab" data-target="#email">
				<span class="glyphicon glyphicon-envelope"></span> Email Superuser
			</a>
		</li>
	</ul>
	<div class="tab-content">
		<br>
		<div id="superuser-info" class="tab-pane active o-auto">
			<div class="col-sm-12">
				<button id="edit-superuser" class="btn btn-primary btn-sm hide">Edit Superuser</button>
				<button id="save-superuser" class="btn btn-primary btn-sm hide">Save Superuser</button>
			</div>
			<div class="col-sm-6">
				<br>
				<h4>Superuser Information</h4>
				<div id="superuser-info-table" class="form-horizontal well property-table"></div>
			</div>
		</div>
		<div id="course-info" class="tab-pane"></div>
		<div id="email" class="tab-pane"></div>
	</div>
</div> -->