<br>
<div class="well">Check off records that you wish to purge from the system. Note that once you purge a record, the action cannot be undone.</div>
<div id="schoolyear-table-container" class="col-sm-4">
	<button id="purge" class="btn btn-primary btn-sm">Delete</button>
	<br>
	<br>
	<table class="table table-striped table-bordered">
		<thead>
			<tr>
				<th>Tables</th>
				<th>Purge</th>
			</tr>
		</thead>
		<tbody class="results">
			<tr>
				<td>Purge Students</td>
				<td><input type="checkbox" class="purge-item" name='student'></td>
			</tr>
			<tr>
				<td>Purge Teachers</td>
				<td><input type="checkbox" class="purge-item" name='teacher'></td>
			</tr>
			<tr>
				<td>Purge Admins</td>
				<td><input type="checkbox" class="purge-item" name='admins'></td>
			</tr>
			<tr>
				<td>Purge School Years</td>
				<td><input type="checkbox" class="purge-item" name='schoolyear'></td>
			</tr>
			<tr>
				<td>Purge Schools</td>
				<td><input type="checkbox" class="purge-item" name='school'></td>
			</tr>
			<tr>
				<td>Purge Departments</td>
				<td><input type="checkbox" class="purge-item" name='department'></td>
			</tr>
			<tr>
				<td>Purge Courses</td>
				<td><input type="checkbox" class="purge-item" name='course'></td>
			</tr>
			<tr>
				<td>Purge Sections</td>
				<td><input type="checkbox" class="purge-item" name='sections'></td>
			</tr>
			<tr>
				<td>Purge Documents</td>
				<td><input type="checkbox" class="purge-item" name='document'></td>
			</tr>

		</tbody>
	</table>
</div> 