<br>
<ul id="course-tabs" class="nav nav-tabs nav-justified">
	<li class="active">
		<a data-toggle="tab" data-target="#course-info">
			<span class="glyphicon glyphicon-user"></span> Course Information
		</a>
	</li>
	<li>
		<a data-toggle="tab" data-target="#course-sections">
			<span class="glyphicon glyphicon-th-list"></span> Sections
		</a>
	</li>
	<li>
		<a data-toggle="tab" data-target="#course-teachers">
			<span class="glyphicon glyphicon-th-list"></span> Teachers
		</a>
	</li>
</ul>
<div class="tab-content">
	<div id="course-info" class="tab-pane active">
		<div class="col-sm-6">
			<h4 class="o-auto">General Information
				<div class="pull-right">
					<button id="edit-course" class="btn btn-sm btn-primary">Edit</button>
					<button id="save-course" class="btn btn-sm btn-primary hide">Save</button>
					<button id="delete-course" class="btn btn-sm btn-primary">Delete</button>
				</div>
			</h4>
			<div id="course-form">
				<div id="general" class="form-horizontal well">
				</div>
			</div>
			<div id="prereqs">
				<h4 class="o-auto">Prereqs
					<div class="pull-right">
						<button id="add-prereq" class="btn btn-sm btn-primary">Add</button>
					</div>
				</h4>
				<div class="form-horizontal well"></div>
			</div>
		</div>
	</div>
	<div id="course-sections" class="tab-pane"></div>
	<div id="course-teachers" class="tab-pane"></div>
</div>